*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
.env
.~c9_*

# Terraform
*/**/.terraform
*/**/.terraform/*
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
source.zip

builds/*
ignored